.nav-header {
  background-color: rgb(223, 223, 223);
}
.navbar-brand {
  font-size: 26px;
  color: rgb(56, 56, 56);
  font-weight: bold;
}
.nav-link {
  font-weight: bold;
  font-size: 20px;
  color: rgb(78, 78, 78);
}
